WindowsFormsApplication5/Service References/br.com.Teste/CursoCSharpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDataHoraAtual">
        <s:complexType />
      </s:element>
      <s:element name="GetDataHoraAtualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataHoraAtualResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataHoraAtualSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataHoraAtual" />
  </wsdl:message>
  <wsdl:message name="GetDataHoraAtualSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataHoraAtualResponse" />
  </wsdl:message>
  <wsdl:portType name="CursoCSharpServiceSoap">
    <wsdl:operation name="GetDataHoraAtual">
      <wsdl:input message="tns:GetDataHoraAtualSoapIn" />
      <wsdl:output message="tns:GetDataHoraAtualSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CursoCSharpServiceSoap" type="tns:CursoCSharpServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataHoraAtual">
      <soap:operation soapAction="http://tempuri.org/GetDataHoraAtual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CursoCSharpServiceSoap12" type="tns:CursoCSharpServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataHoraAtual">
      <soap12:operation soapAction="http://tempuri.org/GetDataHoraAtual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CursoCSharpService">
    <wsdl:port name="CursoCSharpServiceSoap" binding="tns:CursoCSharpServiceSoap">
      <soap:address location="http://localhost:49443/CursoCSharpService.asmx" />
    </wsdl:port>
    <wsdl:port name="CursoCSharpServiceSoap12" binding="tns:CursoCSharpServiceSoap12">
      <soap12:address location="http://localhost:49443/CursoCSharpService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>